* { padding:0;	margin: 0;} 
body
{
	font-size:12px;
	font-family: Arial, "Times New Roman", Times, serif;
}
#page {
	width:960px;
    margin:0 auto;	
	border:1px solid #999;
	}
/* HEADER SETTING */
#header {width:960px;}
#header #logo {
	height:200px;	
}
#header #logo a img {
	margin-top:0px;
	float:left;
	width: 230px;}
#header #logo img {
	border-style: none;
	border-width: medium;
	float:right;}
		
#menung {
	width:940px;
	height:35px;
	line-height:35px;/*chiều cao giữa các dòng*/
	padding-left:20px;
	color:#F66D05;
    
	border-top:5px solid #F66D05;/* đường viền cam*/
    text-align:center;
    align-items:center;
}
#menung ul {
	font-size:12px;	
	font-weight:bold;
	list-style:none;
}
#menung ul li {/*hiển thị theo hàng*/
	float:left;
}
#menung ul li a{
	display:block;
	color:#000;
	text-decoration:none;
	padding:0px 15px;	
	cursor:pointer;	
}
#menung ul li a:hover{
	color:#B7CF1A;
}


/* MAIN SETTING */
#main {
	padding:10px 0px;
	background:#FAFAFA;
}
#left {
	float:left;
	width:200px;
   min-height: 600px;	
}
 #right {
	float:right;
	width:200px;
	 min-height: 600px;	
}
#content {
	float:left;
	width:530px;
	padding:10px; /* thêm vào khoảng không trên, dưới, trái, phải*/
    min-height: 600px;	
}
/* LEFT SETTING */
#left {
	font-weight:bold;
	font-size:14px;
}
#left ul {
	list-style:none;
}
#left ul li a {	
	display:block;	
	padding-left:22px;	
	text-decoration:none;
	color:#000;
	border-bottom:2px solid #FFF; /*đường thẳng ngăn các mục chọn */
}

#left ul li a span {
    font-weight: normal;
    color: #666;
}
#menud a {
	height:30px;
	line-height:30px;
	background:url(../images/list-style.gif) 10px 15px no-repeat #EEE;
}

#menud ul a:hover{
            background: #CCFF33;
        }

#left div {
	margin-bottom:20px;
}
#left img {
	float:right;
	border:none;
}
#left p {
	font-weight:bold;
	padding-left:25px;	
	line-height:36px;
	color:#000;	
	background:url(../images/title.jpg) no-repeat;
}
/* CONTENT SETTING */
#content {			
	border:1px solid #999;
}

.myBox  /* bai1: Product.aspx */
{ 
  width:240px;
  height:150px;
  display:block;  
  padding:5px;
  margin:5px; 
  text-align: left;
  background-color: #fff; 
  border: 1px solid #999; 
}
.myBox1 /* bai3: News.aspx */ {
    width: 240px;
    height: 165px;
    display: block;
    padding: 5px;
    margin: 5px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #999;
}
.myBox2  /* bai5: Loaisach.aspx */
{ 
  width:165px; /* sửa*/
  height:155px;
  display:block;  
  padding:5px;
  margin:5px; 
  text-align: left;
  background-color: #fff; 
  border: 1px solid #999; 
}
.name a
{	 text-decoration:none;}
 
#footer {
	color:#FFF;
	width:100%;
	background:#666;
	overflow:hidden; 
	border-top:5px solid #F66D05;/* đường viền cam*/
}
#footer p {
	float:left; 
	padding:20px 40px;
	width: 351px;
}

