.guithongntin  table tr td input{ width:275px !important;border:1px solid #d7d7d7; border-radius:3px; height:26px!important}
.guithongntin  table tr td textarea { width:275px !important;border:1px solid #d7d7d7; border-radius:3px;} 
.guithongntin.last table tbody tr td select{ width:275px !important;border:1px solid #d7d7d7; border-radius:3px; height:26px!important}
.container{ display:none}
.Mobile{ display:none}
.Destop{ display:block}
.Hotline{ color:#fff; font-size:16px;}
.Hotline a{ color:#fff; font-size:16px;}

@media screen and (min-width:768px) and (max-width:1000px)
{
img{border:medium none;height:auto;line-height:normal;margin:0;max-width:100%;padding:0;vertical-align:middle;width:auto;transition:all 0.2s ease-in;}
body{width:100%;}
*{padding:0px; margin:0px;}
#divAdvLeft{ display:none}
#divAdvRight{ display:none}
#col-left{ display:none}
#col-mid1 .top2{ width:100%;display:none !important}
.banner{ width:100%  !important; text-align:center}
html body form#form1 div#wrapper div#content{ padding:0px; width:100%}
#floatdiv{ display:none !important;}
#floatdivleftpage{ display:none !important;}
#form1 > div:nth-child(11){ display:none!important}

#wrapper, .banner, .menu_mid, .search-box, #content, #menu-bottom, #footer{ width:100%  !important;}
#col-mid {margin: 5px;width: 97%;}/**/
.twocol2 {float: left;width: 100%;}
#BottomLayer{ display:none}
.container{ display:block;width: 100%;}/**/
.quangcao{     float: left; width:100%;}
.quangcao a img{float: left;height: 108px;width: 33.2%;}


#content{ width:100%  !important;}
.box-head h1, .box-head h2{color: #fff;font-size: 13px;margin: auto;text-transform: uppercase}
#col-mid .box-head { float:none;color: #fff;font-size: 13px;margin: auto;text-transform: uppercase;}
#col-mid .div_img img {width: 100%;height:185px; margin-top:2px;  padding-top: 0;}
#col-mid .box-body .div_img{height:auto; border:none}
#footer div.footer div span{font-size: 15px;}
#footer div.footer span{font-size: 15px;}

.pro-view .dathang {margin-left:20% !important;margin-bottom: 10px}
.pro-view{ float: left !important;margin: 2px !important;min-height: 220px;width:32.5% !important;border:1px solid #d7d7d7}
.pro-view .price{width: 100%!important;display: table; margin:auto}
#col-mid .box-body .row .pro-view img {display: table;float: none;margin: auto;max-height: 259px;min-width: 100%;width: 100%;}
#col-mid .box-body .div_img {display: table;width: 100% !important;}
#menu12 .sear{ margin:auto; width:100%; float:none;margin-top: 5px; display:none}
#search-box{ margin:auto;  float:none; display:none}
.MenuMobile{ display:block;  margin-top: 7px;}
#slider-wrapper{ width:100% !important; height:auto !important}
.nivoSlider{ width:100% !important; height:auto !important}
.slide {margin-top: 10px;clear: both;}
.nivo-caption{ display:none!important}
.cart1 {float: left;padding-top: 17px;width: 100%;margin: auto;text-align: center;}
.menu-bottom{ width:100%}
.footer{ width:97%; margin:3px!important}

#col-mid {margin: 5px;width: 99%;}
.top1{width: 100% !important;height: auto !important;margin:0px !important; padding:0px!important  }
.banner{ margin-top: 5px;}
 #header{background:none; min-width:100%;}
#bannerMobile{ width:100%; text-align:center}
.banner1{  width:100%;}
#menu{ display:none}/*---*/
.container{ display:block}
#menu12{ height:auto; background:none; width:100%; border:none}
#col-mid .box-body{ width:100%;padding: 0px;min-width:100% !important; border:none; padding:0px; margin:0px; background:none}
.hotline{ width:100%}
.hotline p{ font-size:12px;}

.pro-view .view-more{ float:none}
#menu,  #menu-bottom, #footer{ width:100%;min-width:100%}
#footer{ width:100%!important;min-width:100% !important;  height:auto; }
.footer{padding-left:0px;}
.cat-news {margin: 5px;width: 97%;}
.news-more{ margin:0px}
.shares{ display:none}
.news-other ul{ margin-left:10px;}
.send-entry{ padding-left:10px}
.send-entry h3{ font-size:16px;}
.cat-news a:link, .cat-news a:hover, .cat-news a{ font-size:12px}
#col-mid .group-product .box-body{width: 100% !important;border:none}
.guithongntin  table{ width:100%}
.guithongntin table tr { width:100%}
.guithongntin  table tr td { width:98%!important; float:left; text-align:left;}
.lienhe2 { font-size:13px;}                                
.guithongntin table tbody tr td.lienhe2 span#ctl07_u_load_control1_ctl00_lblConfig p strong span { font-size:13px!important;}   
.contact-text {color: #000;font-family: Tahoma;font-size: 10pt;margin-left: 5px;text-align: left;}
.imgCaptcha img { width:140px!important;}
#col-mid .box-body .div_img { width: 292px;}
  
  
  
.guithongntin  table tr td input{ width:275px !important;border:1px solid #d7d7d7; border-radius:3px; height:20px}
.guithongntin  table tr td textarea { width:275px !important;border:1px solid #d7d7d7; border-radius:3px;} 
.contact-button{ height:35px!important;}

.jwplayer{ width:100% !important;  margin:0; padding:0; height:250px !important}
#MyPlayer_wrapper{ left:0px;width:100% !important;  margin:0; padding:0; height:250px !important; top: 10px;}
#MyPlayer{ width:100% !important;  margin:0; padding:0; height:250px !important}

#col-mid .box-body  table{ width:100% !important}
#col-mid .box-body  p{ margin:0px; padding:0px}
#col-mid .box-body  table tr { width:100%}
#col-mid .box-body  table tr td { /*width:100%*/}
#col-mid .box-body  table tr td img{ width:100%}
#col-mid .box-body  p embed{width:100%}
#col-mid .box-body  p iframe{width:100%}
#col-mid .box-body  p object{width:100%}
#col-mid .box-body  embed{width:100%}
#col-mid .box-body iframe{width:100%}
#col-mid .box-body  object{width:100%}
.An{  display:none}
.Hien{ display:block}
#divAdvLeft{display:none}
#divAdvRight{display:none}

.prodetailright { float: left; width: 47%; margin: 5px; }
.img-box{ width:310px}
.proleftdet{ width:310px; float:left; margin:auto}
.CloudZoom{ display:none}
.CNews{ margin:5px;}
.news-related ul {margin-left: 5px;padding: 5px;}

.News_detail {margin: 5px;width: 97%;}
.News_detail div{width:100% !important;margin:0px;padding:0px;}
.News_detail p{margin:0!important;padding:0!important;}
.News_detail table tbody{width:100% !important;}
.News_detail table tr{width:100% !important;}
.News_detail table tr td{width:100%;}
.News_detail table tr td img{width:98% !important;}
.News_detail img{margin:0px;padding:0px; height:auto!important; width:100%!important}
.News_detail p img{margin:0px;padding:0px; height:auto!important;width:100%!important}
.News_detail p embed{width:100% !important;}
.News_detail p iframe{width:100% !important;}
.News_detail p object{width:100% !important;}
.News_detail embed{width:100% !important;}
.News_detail iframe{width:100% !important;}
.News_detail object{width:100% !important;}
.News_detail table tr td embed{width:100% !important;}
.News_detail table tr td iframe{width:100% !important;}
.News_detail table tr td object{width:100% !important;}
.cloudzoom-zoom{ display:none}
.cloudzoom-blank{ display:none}
#divToolTip{ display:none!important}
.cloudzoom-blank{ display:none!important}
.cloudzoom-lens{ display:none!important}
.cloudzoom-caption{ display:none!important}


.Mobile{ display:block}
.Destop{ display:none}
.for-home-mobile{ display:block !important; } .thosuakhoa_img_view{ width:300px!important}


#menu{ display:none!important}
.divchantrang {width: 100%;float: none;}
#slide-qc, #qc-footer{width: 100%!important;float: none;}
.Menuchinh{width: 100%;}
.containerss{ width:100%}
.top2 .box-body{ padding:0px; width:100%; float:none;}
.top2 div.box-body.center a img{width: 32%;margin-left: 2px; padding:0 5px 5px;margin:0px; text-align:center}
#slide-qc > div > div > div.box-body.center > a:nth-child(2n+2) > img{ width: 32%;margin-left: 2px; padding:0px;margin:0px;padding-bottom:5px;text-align:center}
#content.clearfix div#col-mid div#qc_duoi{ display:none}
.box-cart table.cart-list tbody tr th{padding:0px;}
.menu-bottom li.parent{ width:45%; border:none}
.pro-item {height: 190px;text-align: center;width: 18%;}
.Library{ width:133px}
.Library table{ width:133px}
.Library img{ max-width:133px}
span.save_price {margin-left: 175px;}
}


@media screen and (min-width:640px) and (max-width:767px)
{
img{border:medium none;height:auto;line-height:normal;margin:0;max-width:100%;padding:0;vertical-align:middle;width:auto;transition:all 0.2s ease-in;}
body{width:100%;}
*{padding:0px; margin:0px;}
#divAdvLeft{ display:none}
#divAdvRight{ display:none}
#col-left{ display:none}
#col-mid1 .top2{ width:100%; display:none}
.banner{ width:100%  !important; text-align:center}
html body form#form1 div#wrapper div#content{ padding:0px; width:100%}
#floatdiv{ display:none !important;}
#floatdivleftpage{ display:none !important;}
#form1 > div:nth-child(11){ display:none!important}

#wrapper, .banner, .menu_mid, .search-box, #content, #menu-bottom, #footer{ width:100%  !important;}
#col-mid {margin: 5px;width: 97%;}/**/
.twocol2 {float: left;width: 100%;}
#BottomLayer{ display:none}
.container{ display:block;width: 100%;}/**/
.quangcao{     float: left; width:100%;}
.quangcao a img{float: left;height: 108px;width: 33.2%;}

#content{ width:100%  !important;}
.box-head h1, .box-head h2{color: #fff;font-size: 13px;margin: auto;text-transform: uppercase}
#col-mid .box-head { float:none;color: #fff;font-size: 13px;margin: auto;text-transform: uppercase;}
#col-mid .div_img img {width: 100%;height:170px; margin-top:2px;  padding-top: 0;}
#col-mid .box-body .div_img{height:auto; border:none}
#footer div.footer div span{font-size: 15px;}
#footer div.footer span{font-size: 15px;}

.pro-view .dathang {margin-left:12% !important;margin-bottom: 10px}
.pro-view{ min-height: 220px;width:32.3% !important; float:left !important; margin:2px !important;border:1px solid #d7d7d7}
.pro-view .price{width: 100%!important;display: table; margin:auto}
#col-mid .box-body .row .pro-view img {display: table;float: none;margin: auto;max-height: 259px;min-width: 100%;width: 100%;}
#col-mid .box-body .div_img {display: table;width: 100% !important;}
#menu12 .sear{ margin:auto; width:100%; float:none;margin-top: 5px; display:none}
#search-box{ margin:auto;  float:none;display:none}
.MenuMobile{ display:block;  margin-top: 7px;}
#slider-wrapper{ width:100% !important; height:auto!important}
.nivoSlider{ width:100% !important; height:auto !important}
.slide {margin-top: 10px;clear: both;}
.nivo-caption{ display:none!important}
.cart1 {float: left;padding-top: 17px;width: 100%;margin: auto;text-align: center;}

.menu-bottom{ width:100%}
.footer{ width:97%; margin:3px!important}
#col-mid {margin: 5px;width: 98%;}
.top1{ width: 100% !important;height: auto !important; margin:0px !important; padding:0px!important}
.banner{ margin-top: 5px;}
 #header{background:none; min-width:100%}
#bannerMobile{ width:100%; text-align:center}
.banner1{  width:100%;}
#menu{ display:none}/*---*/
.container{ display:block}
#menu12{ height:auto; background:none; width:100%; border:none}
#col-mid .box-body{ width:99%;padding: 0px;min-width:99% !important; border:none; padding:0px; margin:0px; background:none}
.hotline{ width:100%}
.hotline p{ font-size:12px;}

.pro-view .view-more{ float:none}
#menu,  #menu-bottom, #footer{ width:100%;min-width:100%}
#footer{ width:100%!important;min-width:100% !important; height:auto; }
.footer{padding-left:0px;}
.cat-news {margin: 5px;width: 97%;}
.news-more{ margin:0px}
.shares{ display:none}
.news-other ul{ margin-left:10px;}
.send-entry{ padding-left:10px}
.send-entry h3{ font-size:16px;}
.cat-news a:link, .cat-news a:hover, .cat-news a{ font-size:12px}
#col-mid .group-product .box-body{width: 100% !important;border:none}
.guithongntin  table{ width:100%}
.guithongntin table tr { width:100%}
.guithongntin  table tr td { width:98%!important; float:left; text-align:left;}
.lienhe2 { font-size:13px;}                                
.guithongntin table tbody tr td.lienhe2 span#ctl07_u_load_control1_ctl00_lblConfig p strong span { font-size:13px!important;}   
.contact-text {color: #000;font-family: Tahoma;font-size: 10pt;margin-left: 5px;text-align: left;}
.imgCaptcha img { width:140px!important;}
#col-mid .box-body .div_img { width: 292px;}
  
.guithongntin  table tr td input{ width:275px !important;border:1px solid #d7d7d7; border-radius:3px; height:20px}
.guithongntin  table tr td textarea { width:275px !important;border:1px solid #d7d7d7; border-radius:3px;} 
.contact-button{ height:35px!important;}

.jwplayer{ width:100% !important;  margin:0; padding:0; height:250px !important}
#MyPlayer_wrapper{ left:0px;width:100% !important;  margin:0; padding:0; height:250px !important; top: 10px;}
#MyPlayer{ width:100% !important;  margin:0; padding:0; height:250px !important}

#col-mid .box-body  table{ width:100% !important}
#col-mid .box-body  p{ margin:0px; padding:0px}
#col-mid .box-body  table tr { width:100%}
#col-mid .box-body  table tr td { /*width:100%*/}
#col-mid .box-body  table tr td img{ width:100%}
#col-mid .box-body  p embed{width:100%}
#col-mid .box-body  p iframe{width:100%}
#col-mid .box-body  p object{width:100%}
#col-mid .box-body  embed{width:100%}
#col-mid .box-body iframe{width:100%}
#col-mid .box-body  object{width:100%}
.An{  display:none}
.Hien{ display:block}
#divAdvLeft{display:none}
#divAdvRight{display:none}

.prodetailright { float: left; width: 47%; margin: 5px; }
.img-box{ width:310px}
.proleftdet{ width:310px; float:left; margin:auto}
.CloudZoom{ display:none}
.CNews{ margin:5px;}
.news-related ul {margin-left: 5px;padding: 5px;}

.News_detail {margin: 5px;width: 97%;}
.News_detail div{width:100% !important;margin:0px;padding:0px;}
.News_detail p{margin:0!important;padding:0!important;}
.News_detail table tbody{width:100% !important;}
.News_detail table tr{width:100% !important;}
.News_detail table tr td{width:100%;}
.News_detail table tr td img{width:98% !important;}
.News_detail img{margin:0px;padding:0px; height:auto!important; width:100%!important}
.News_detail p img{margin:0px;padding:0px; height:auto!important;width:100%!important}
.News_detail p embed{width:100% !important;}
.News_detail p iframe{width:100% !important;}
.News_detail p object{width:100% !important;}
.News_detail embed{width:100% !important;}
.News_detail iframe{width:100% !important;}
.News_detail object{width:100% !important;}
.News_detail table tr td embed{width:100% !important;}
.News_detail table tr td iframe{width:100% !important;}
.News_detail table tr td object{width:100% !important;}
.cloudzoom-zoom{ display:none}
.cloudzoom-blank{ display:none}
#divToolTip{ display:none!important}
.cloudzoom-blank{ display:none!important}
.cloudzoom-lens{ display:none!important}
.cloudzoom-caption{ display:none!important}


.Mobile{ display:block}
.Destop{ display:none}
.for-home-mobile{ display:block !important; } .thosuakhoa_img_view{ width:300px!important}

#menu{ display:none!important}
.divchantrang {width: 100%;float: none;}
#slide-qc, #qc-footer{width: 100%!important;float: none;}
.Menuchinh{width: 100%;}
.containerss{ width:100%}

.top2 .box-body{ padding:0px; width:100%; float:none;}
.top2 div.box-body.center a img{width: 32%;margin-left: 2px; padding:0 5px 5px;margin:0px; text-align:center}
#slide-qc > div > div > div.box-body.center > a:nth-child(2n+2) > img{ width: 32%;margin-left: 2px; padding:0px;margin:0px;padding-bottom:5px;text-align:center}
#content.clearfix div#col-mid div#qc_duoi{ display:none}
.box-cart table.cart-list tbody tr th{padding:0px;}

.menu-bottom li.parent{ width:45%; border:none}
.pro-item {height: 190px;text-align: center;width: 31.7%;}
.Library{ margin:8px 0 2px 5px; width:30.5%}
span.save_price {margin-left: 130px;}
}

@media screen and (min-width:480px) and (max-width:639px)
{img{border:medium none;height:auto;line-height:normal;margin:0;max-width:100%;padding:0;vertical-align:middle;width:auto;transition:all 0.2s ease-in;}
body{width:100%;}
*{padding:0px; margin:0px;}
#divAdvLeft{ display:none}
#divAdvRight{ display:none}
#col-left{ display:none}
#col-mid1 .top2{ width:100%;display:none !important}
.banner{ width:100%  !important; text-align:center;margin-top: 5px;}
html body form#form1 div#wrapper div#content{ padding:0px; width:100%}
#floatdiv{ display:none !important;}
#floatdivleftpage{ display:none !important;}
#form1 > div:nth-child(11){ display:none!important}


#wrapper, .banner, .menu_mid, .search-box, #content, #menu-bottom, #footer{ width:100%  !important;}
#col-mid {margin: 5px;width: 97%;}/**/
.twocol2 {float: left;width: 100%;}
#BottomLayer{ display:none}
.container{ display:block;width: 100%;}/**/
.quangcao{     float: left; width:100%;}
.quangcao a img{float: left;height: 108px;width: 33.2%;}


#content{ width:100%  !important;}
.box-head h1, .box-head h2{color: #fff;font-size: 13px;margin: auto;text-transform: uppercase}
#col-mid .box-head { float:none;color: #fff;font-size: 13px;margin: auto;text-transform: uppercase;}
#col-mid .div_img img {width: 100%;height:160px; margin-top:2px;  padding-top: 0;}
#col-mid .box-body .div_img{height:auto}
#footer div.footer div span{font-size: 15px;}
#footer div.footer span{font-size: 15px;}


.pro-view .dathang {margin-left:21% !important;margin-bottom: 10px}
.pro-view{ min-height: 205px;width:48.7% !important; float:left !important; margin:2px !important;border:1px solid #d7d7d7}
.pro-view .price{width: 100%!important;display: table; margin:auto}
#col-mid .box-body .row .pro-view img {display: table;float: none;margin: auto;max-height: 259px;min-width: 100%;width: 100%;}
#col-mid .box-body .div_img {display: table;width: 100% !important;}
#menu12 .sear{ margin:auto; width:100%; float:none; display:none}
#search-box{ margin:auto;  float:none; margin-top: 10px; display:none}
.MenuMobile{ display:block;  margin-top: 7px;}
#slider-wrapper{ width:100% !important; height:auto !important}
.nivoSlider{ width:100% !important; height:auto !important}
.slide {margin-top: 10px;clear: both;}
.nivo-caption{ display:none!important}
.cart1 {float: left;padding-top: 17px;width: 100%;margin: auto;text-align: center;}


.menu-bottom{ width:100%}
.footer{ width:97%; margin:3px!important}

.top1{ width: 100% !important;height: auto !important; margin:0px !important; padding:0px!important}
.banner{ margin-top: 5px;}
 #header{background:none; min-width:100%}
#bannerMobile{ width:100%; text-align:center}
.banner1{  width:100%;}
#menu{ display:none}/*---*/
#menu12{ height:auto; background:none; width:100%; border:none}
#col-mid .box-body{ width:99%;padding: 0px;min-width:99% !important; border:none; padding:0px; margin:0px; background:none}
.hotline{ width:100%}
.hotline p{ font-size:12px;}
.pro-view {float: none;margin: auto auto 33px;margin-top:5px;border:1px solid #d7d7d7}
.pro-view .view-more{ float:none}
#menu, #menu-bottom, #footer{ width:100%;min-width:100%}
#footer{ width:100%!important;min-width:100% !important; height:auto; }
.footer{padding-left:0px;}
.cat-news {margin: 5px;width: 97%;}
.news-more{ margin:0px}
.shares{ display:none}
.news-other ul{ margin-left:10px;}
.send-entry{ padding-left:10px}
.send-entry h3{ font-size:16px;}
.cat-news a:link, .cat-news a:hover, .cat-news a{ font-size:12px}
#col-mid .group-product .box-body{width: 100% !important;border:none}
.guithongntin  table{ width:100%}
.guithongntin table tr { width:100%}
.guithongntin  table tr td { width:98%!important; float:left; text-align:left;}
.lienhe2 { font-size:13px;}                                
.guithongntin table tbody tr td.lienhe2 span#ctl07_u_load_control1_ctl00_lblConfig p strong span { font-size:13px!important;}   
.contact-text {color: #000;font-family: Tahoma;font-size: 10pt;margin-left: 5px;text-align: left;}
.imgCaptcha img { width:140px!important;}
#col-mid .box-body .div_img { width: 292px; border:none}
  
  
  
.guithongntin  table tr td input{ width:275px !important;border:1px solid #d7d7d7; border-radius:3px; height:20px}
.guithongntin  table tr td textarea { width:275px !important;border:1px solid #d7d7d7; border-radius:3px;} 
.contact-button{ height:35px!important;}

.jwplayer{ width:100% !important;  margin:0; padding:0; height:250px !important}
#MyPlayer_wrapper{ left:0px;width:100% !important;  margin:0; padding:0; height:250px !important; top: 10px;}
#MyPlayer{ width:100% !important;  margin:0; padding:0; height:250px !important}

#col-mid .box-body  table{ width:100% !important}
#col-mid .box-body  p{ margin:0px; padding:0px}
#col-mid .box-body  table tr { width:100%}
#col-mid .box-body  table tr td { /*width:100%*/}
#col-mid .box-body  table tr td img{ width:100%}
#col-mid .box-body  p embed{width:100%}
#col-mid .box-body  p iframe{width:100%}
#col-mid .box-body  p object{width:100%}
#col-mid .box-body  embed{width:100%}
#col-mid .box-body iframe{width:100%}
#col-mid .box-body  object{width:100%}
.An{  display:none}
.Hien{ display:block}
#divAdvLeft{display:none}
#divAdvRight{display:none}

.prodetailright { float: left; width: 97%; margin: 5px; }
.img-box{ width:310px}
.proleftdet{ width:310px; float:none; margin:auto}
.CloudZoom{ display:none}
.CNews{ margin:5px;}
.news-related ul {margin-left: 5px;padding: 5px;}

.News_detail {margin: 5px;width: 97%;}
.News_detail div{width:100% !important;margin:0px;padding:0px;}
.News_detail p{margin:0!important;padding:0!important;}
.News_detail table tbody{width:100% !important;}
.News_detail table tr{width:100% !important;}
.News_detail table tr td{width:100%;}
.News_detail table tr td img{width:98% !important;}
.News_detail img{margin:0px;padding:0px; height:auto!important; width:100%!important}
.News_detail p img{margin:0px;padding:0px; height:auto!important;width:100%!important}
.News_detail p embed{width:100% !important;}
.News_detail p iframe{width:100% !important;}
.News_detail p object{width:100% !important;}
.News_detail embed{width:100% !important;}
.News_detail iframe{width:100% !important;}
.News_detail object{width:100% !important;}
.News_detail table tr td embed{width:100% !important;}
.News_detail table tr td iframe{width:100% !important;}
.News_detail table tr td object{width:100% !important;}
.cloudzoom-zoom{ display:none}
.cloudzoom-blank{ display:none}
#divToolTip{ display:none!important}
.cloudzoom-blank{ display:none!important}
.cloudzoom-lens{ display:none!important}
.cloudzoom-caption{ display:none!important}


.Mobile{ display:block}
.Destop{ display:none}
.for-home-mobile{display:block !important;}.prodetail{margin-left: 3px;}


#menu{ display:none!important}
.divchantrang {width: 100%;float: none;}
#slide-qc, #qc-footer{width: 100%!important;float: none;}
.Menuchinh{width: 100%;}
.containerss{ width:100%}

.top2 .box-body{ padding:0px; width:100%; float:none;}
.top2 div.box-body.center a img{ width:98%; padding:0px;margin:0px;padding-bottom:5px; text-align:center}
#slide-qc > div > div > div.box-body.center > a:nth-child(2n+2) > img{ width:98%; padding:0px;margin:0px;padding-bottom:5px;text-align:center}
#content.clearfix div#col-mid div#qc_duoi{ display:none}
.box-cart table.cart-list tbody tr th{padding:0px;}
.menu-bottom li.parent{ width:95%; border:none}
.pro-item {height: 190px;text-align: center;width: 31.1%;}
.Library{ margin:8px 0 2px 5px; width:29.6%}
.span.save_price {margin-left: 95px;}
}
@media screen and (min-width:1px) and (max-width:479px)
{img{border:medium none;height:auto;line-height:normal;margin:0;max-width:100%;padding:0;vertical-align:middle;width:auto;transition:all 0.2s ease-in;}
body{width:100%;}
*{padding:0px; margin:0px;}
#divAdvLeft{ display:none}
#divAdvRight{ display:none}
#col-left{ display:none}
#col-mid1 .top2{ width:100%;display:none !important}
.banner{ width:100%  !important; text-align:center}
html body form#form1 div#wrapper div#content{ padding:0; width:100%}
#form1 > div:nth-child(11){ display:none!important}

#wrapper, .banner, .menu_mid, .search-box, #content, #menu-bottom, #footer{ width:100%  !important;}
#col-mid {margin: 3px;width: 98%;}/**/
.twocol2 {float: left;width: 100%;}
#BottomLayer{ display:none}
.container{ display:block;width: 100%;}/**/
#col-mid div.quangcao div.box-body.center a img{ width:100%}
#floatdiv{ display:none !important;}
#floatdivleftpage{ display:none !important;}

#col-mid .box-head a {margin-left:5px;}

#content{ width:100%  !important;}
.box-head h1, .box-head h2{color: #fff;font-size: 13px;margin: auto;text-transform: uppercase}
#col-mid .box-head {color: #fff;float: left;font-size: 13px;margin: auto;text-transform: uppercase;width: 96%;}
#col-mid .div_img img {width: 100%;margin-top:0px; padding-top: 0;}
#col-mid .box-body .div_img{height:auto; border:none}
#footer div.footer div span{font-size: 15px;}
#footer div.footer span{font-size: 15px;}
.pro-view h3 { text-align: center; height: 55px !important; }
.pro-view .dathang {margin-bottom: 10px;margin-left: 2px;}
.dathang .order, .dathang .detail, .detailpro {
    margin: 0 3px 0 0;
    width: 50px;
    float: left;
    background: url(images/chitiet_pro.gif);
    padding-left: 21px;
    padding-right: 0;
    height: 19px;
    padding-top: 0;
    text-align: left;
}
.pro-view{width: 47% !important; float: left !important; margin-right: 4px !important; margin-left: 3px !important;}
.pro-view .price{width: 100%!important;display: table; margin:auto}
#col-mid .box-body .row .pro-view img {display: table;float: none;margin: auto;max-height: 259px;min-width: 100%;width: 100%;}
#col-mid .box-body .div_img {display: table;width: 100% !important;}
#menu12 .sear{ margin:auto; width:100%; float:none;margin-top: 5px; display:none}
#search-box{ margin:auto;  float:none; display:none}
.MenuMobile{ display:block;  margin-top: 7px;}
#slider-wrapper{ width:100% !important; height:auto !important}
.nivoSlider{ width:100% !important; height:auto !important}
.slide {margin-top: 10px;clear: both;}
.nivo-caption{ display:none!important}
.cart1 {float: left;padding-top: 17px;width: 100%;margin: auto;text-align: center;}


.menu-bottom{ width:100%!important}
.footer{ width:98%!important; padding:3px;}


.top1{width: 100% !important;height: auto !important; margin:0px !important; padding:0px!important}
.banner{margin-top: 5px; }
 #header{background:none; min-width:100%}
#bannerMobile{ width:100%; text-align:center}
.banner1{  width:100%;}
#menu{ display:none}/*---*/

#menu12{ height:auto; background:none; width:100%; border:none}
#col-mid .box-body{ width:99%;padding: 0px;min-width:99% !important; border:none; padding:0px; margin:0px; background:none}
.hotline{ width:100%}
.hotline p{ font-size:12px;}
.pro-view {float: none;margin: auto auto 0px;margin-top:5px; border:1px solid #d7d7d7}
.pro-view .view-more{ float:none}
#menu,  #menu-bottom, #footer{ width:100%;min-width:100%; }
#footer{ width:100%!important;min-width:100% !important;  height:auto; }
.footer{padding-left:0px;}
.cat-news {margin: 5px;width: 97%;}
.news-more{ margin:0px}
.shares{ display:none}
.news-other ul{ margin-left:10px;}
.send-entry{ padding-left:10px}
.send-entry h3{ font-size:16px;}
.cat-news a:link, .cat-news a:hover, .cat-news a{ font-size:12px}
#col-mid .group-product .box-body{width: 100% !important;border:none}
.guithongntin  table{ width:100%}
.guithongntin table tr { width:100%}
.guithongntin  table tr td { width:98%!important; float:left; text-align:left;}
.lienhe2 { font-size:13px;}                                
.guithongntin table tbody tr td.lienhe2 span#ctl07_u_load_control1_ctl00_lblConfig p strong span { font-size:13px!important;}   
.contact-text {color: #000;font-family: Tahoma;font-size: 10pt;margin-left: 5px;text-align: left;}
.imgCaptcha img { width:140px!important;}
#col-mid .box-body .div_img { width: 292px;}
  
  
  
.guithongntin  table tr td input{ width:275px !important;border:1px solid #d7d7d7; border-radius:3px; height:20px}
.guithongntin  table tr td textarea { width:275px !important;border:1px solid #d7d7d7; border-radius:3px;} 
.contact-button{ height:35px!important;}

.jwplayer{ width:100% !important;  margin:0; padding:0; height:250px !important}
#MyPlayer_wrapper{ left:0px;width:100% !important;  margin:0; padding:0; height:250px !important; top: 10px;}
#MyPlayer{ width:100% !important;  margin:0; padding:0; height:250px !important}

#col-mid .box-body  table{ width:100% !important}
#col-mid .box-body  p{ margin:0px; padding:0px}
#col-mid .box-body  table tr { width:100%}
#col-mid .box-body  table tr td { /*width:100%*/}
#col-mid .box-body  table tr td img{ width:100%}
#col-mid .box-body  p embed{width:100%}
#col-mid .box-body  p iframe{width:100%}
#col-mid .box-body  p object{width:100%}
#col-mid .box-body  embed{width:100%}
#col-mid .box-body iframe{width:100%}
#col-mid .box-body  object{width:100%}
.An{  display:none}
.Hien{ display:block}
#divAdvLeft{display:none}
#divAdvRight{display:none}

.prodetailright { float: left; width: 97%; margin: 5px; }
.img-box{ width:310px}
.proleftdet{ width:305px; float:none; margin:auto}
.CloudZoom{ display:none}
.CNews{ margin:5px;}
.news-related ul {margin-left: 5px;padding: 5px;}

.News_detail {margin: 5px;width: 97%;}
.News_detail div{width:100% !important;margin:0px;padding:0px;}
.News_detail p{margin:0!important;padding:0!important;}
.News_detail table tbody{width:100% !important;}
.News_detail table tr{width:100% !important;}
.News_detail table tr td{width:100%;}
.News_detail table tr td img{width:98% !important;}
.News_detail img{margin:0px;padding:0px; height:auto!important; width:100%!important}
.News_detail p img{margin:0px;padding:0px; height:auto!important;width:100%!important}
.News_detail p embed{width:100% !important;}
.News_detail p iframe{width:100% !important;}
.News_detail p object{width:100% !important;}
.News_detail embed{width:100% !important;}
.News_detail iframe{width:100% !important;}
.News_detail object{width:100% !important;}
.News_detail table tr td embed{width:100% !important;}
.News_detail table tr td iframe{width:100% !important;}
.News_detail table tr td object{width:100% !important;}
.cloudzoom-zoom{ display:none}
.cloudzoom-blank{ display:none}
#divToolTip{ display:none!important}
.cloudzoom-blank{ display:none!important}
.cloudzoom-lens{ display:none!important}
.cloudzoom-caption{ display:none!important}


.Mobile{ display:block}
.Destop{ display:none}
.for-home-mobile{display:block !important;}.prodetail{margin-left: 3px;}

#menu{ display:none!important}
.divchantrang {width: 100%;float: none;}
#slide-qc, #qc-footer{width: 100%!important;float: none;}
.Menuchinh{width: 100%;}


.containerss{ width:100%}
.top2 .box-body{ padding:0px; width:100%; float:none;}
.top2 div.box-body.center a img{ width:95%; padding:0px;margin:0px;padding-bottom:5px; text-align:center}
#slide-qc > div > div > div.box-body.center > a:nth-child(2n+2) > img{ width:95%; padding:0px;margin:0px;padding-bottom:5px;text-align:center}
#content.clearfix div#col-mid div#qc_duoi{ display:none}
.box-cart table.cart-list tbody tr th{padding:0px;}

#col-mid1 .top1{margin:0px !important; padding:0px!important}
.menu-bottom li.parent{ width:95%; border:none}

.pro-item {float: left;width: 46.5%; height:158px}
.Library {width: 45%;}
span.save_price {margin-left: 95px;}
}
@media screen and (min-width:360px) and (max-width:639px)
{
.img-box {height: 175px;width: 349px;}
.for-home-mobile{display:none !important;}
}
@media (max-width: 799px) 
{
.for-home-mobile{display:block !important;}
.thosuakhoa_img_view{width:99%;height:auto;border: 1px solid #d2d2d2;float:left;}
.thosuakhoa_img_view img{width:99%;height:auto;float:left;}
#myElement_wrapper{width: 100%!important;}
.player div#myElement_wrapper object{width: 100%!important;}
.player div#myElement_wrapper object#myElement{width: 100%!important;}
}
@media screen and (min-width:0px) and (max-width:1000px)
{
.dathang .detail{margin:0px;}
.search { width: 60%; margin-top: 0; border: 1px solid #E2E2E2; position: relative; top: 0px; margin: auto !important; text-align: center; float: none; }
#col-mid .box-body .div_img>a{display:flex;width:100%;}
#col-mid .box-body .div_img>a>img{display:flex;width:100%;margin:auto;padding-top: 5px;}
#col-right{ display:none}
#wrapper, body {background: #fff!important;}
.banner { margin-top: 0; padding: 0; }
#col-mid #load .box-body{padding-top: 33px!important;}
#content #col-mid .box-body{padding-top: 33px!important;}
.cart1{ display:none}
#lightbox-nav{display: none!important;}
#jquery-lightbox{display: none!important;}
#jquery-overlay{ background:none!important;}

.Mobile{ display:block}
.Destop{ display:none}
}